In [173]:
import pandas as pd
import numpy as np

In [174]:
pd.set_option('display.max_rows',1000)
pd.set_option('display.max_rows',100)

In [175]:
df=pd.read_csv('bmw_sales_data.csv')

# Data Understanding

In [176]:
df.shape

(50000, 11)

In [177]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 50000 non-null  object
 1   Year                  50000 non-null  int64
 2   Region                50000 non-null  object
 3   Color                 50000 non-null  object
 4   Fuel_Type             50000 non-null  object
 5   Transmission          50000 non-null  object
 6   Engine_Size_L         50000 non-null  float64
 7   Mileage_KM            50000 non-null  int64
 8   Price_USD             50000 non-null  int64
 9   Sales_Volume          50000 non-null  int64
 10  Sales_Classification  50000 non-null  object
dtypes: float64(1), int64(4), object(6)
memory usage: 4.2+ MB

In [178]:
df.dtypes

Model                    object
Year                      int64
Region                   object
Color                    object
Fuel_Type                object
Transmission             object
Engine_Size_L           float64
Mileage_KM                int64
Price_USD                 int64
Sales_Volume              int64
Sales_Classification     object
dtype: object

In [179]:
df.describe(include='all')

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
count,50000,50000.000000,50000,50000,50000,50000,50000.000000,50000.000000,50000.000000,50000.000000,50000
unique,11,NaN,6,6,4,2,NaN,NaN,NaN,NaN,2
top,7 Series,NaN,Asia,Red,Hybrid,Manual,NaN,NaN,NaN,NaN,Low
freq,4666,NaN,8454,8463,12716,25154,NaN,NaN,NaN,NaN,34754
mean,NaN,2017.015700,NaN,NaN,NaN,NaN,3.247180,100307.203140,75034.600900,5067.514680,NaN
std,NaN,4.324459,NaN,NaN,NaN,NaN,1.009078,57941.509344,25998.248882,2856.767125,NaN
min,NaN,2010.000000,NaN,NaN,NaN,NaN,1.500000,3.000000,30000.000000,100.000000,NaN
25%,NaN,2013.000000,NaN,NaN,NaN,NaN,2.400000,50178.000000,52434.750000,2588.000000,NaN
50%,NaN,2017.000000,NaN,NaN,NaN,NaN,3.200000,100388.500000,75011.500000,5087.000000,NaN
75%,NaN,2021.000000,NaN,NaN,NaN,NaN,4.100000,150630.250000,97628.250000,7537.250000,NaN
max,NaN,2024.000000,NaN,NaN,NaN,NaN,5.000000,199996.000000,119998.000000,9999.000000,NaN

In [180]:
df.isna().sum()

Model                   0
Year                    0
Region                  0
Color                   0
Fuel_Type               0
Transmission            0
Engine_Size_L           0
Mileage_KM              0
Price_USD               0
Sales_Volume            0
Sales_Classification    0
dtype: int64

In [181]:
df.head(10)

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low
5,5 Series,2017,Middle East,Silver,Diesel,Manual,1.9,171362,42926,1232,Low
6,i8,2022,Europe,White,Diesel,Manual,1.8,196741,55064,7949,High
7,M5,2014,Asia,Black,Diesel,Automatic,1.6,121156,102778,632,Low
8,X3,2016,South America,White,Diesel,Automatic,1.7,48073,116482,8944,High
9,i8,2019,Europe,White,Electric,Manual,3.0,35700,96257,4411,Low

In [182]:
#Value counts ONLY for categorical columns

cat_cols=df.select_dtypes(include='object').columns.tolist()
for i in cat_cols:
    print(f"\n\nThe frequency of the values in the {i} are")
    print(df[i].value_counts())

The frequency of the values in the Model are
Model
7 Series    4666
i3          4618
i8          4606
3 Series    4595
5 Series    4592
X1          4570
X3          4497
X5          4487
M5          4478
X6          4478
M3          4413
Name: count, dtype: int64


The frequency of the values in the Region are
Region
Asia             8454
Middle East      8373
North America    8335
Europe           8334
Africa           8253
South America    8251
Name: count, dtype: int64


The frequency of the values in the Color are
Color
Red       8463
Silver    8350
Grey      8348
White     8304
Black     8273
Blue      8262
Name: count, dtype: int64


The frequency of the values in the Fuel_Type are
Fuel_Type
Hybrid      12716
Petrol      12550
Electric    12471
Diesel      12263
Name: count, dtype: int64


The frequency of the values in the Transmission are
Transmission
Manual       25154
Automatic    24846
Name: count, dtype: int64


The frequency of the values in the Sales_Classification are
Sales_Classification
Low     34754
High    15246
Name: count, dtype: int64

In [183]:
#This is for the numeric type because .describe() always take only numeric values
df.describe()

               Year  Engine_Size_L     Mileage_KM      Price_USD  Sales_Volume
count  50000.000000   50000.000000   50000.000000   50000.000000  50000.000000
mean    2017.015700       3.247180  100307.203140   75034.600900   5067.514680
std        4.324459       1.009078   57941.509344   25998.248882   2856.767125
min     2010.000000       1.500000       3.000000   30000.000000    100.000000
25%     2013.000000       2.400000   50178.000000   52434.750000   2588.000000
50%     2017.000000       3.200000  100388.500000   75011.500000   5087.000000
75%     2021.000000       4.100000  150630.250000   97628.250000   7537.250000
max     2024.000000       5.000000  199996.000000  119998.000000   9999.000000

# Feature Engineering

In [184]:
df.columns.tolist()

['Model',
 'Year',
 'Region',
 'Color',
 'Fuel_Type',
 'Transmission',
 'Engine_Size_L',
 'Mileage_KM',
 'Price_USD',
 'Sales_Volume',
 'Sales_Classification']

In [185]:
df['current_year']=2026

In [186]:
df['current_year'] # for analyzing vehicle age

0        2026
1        2026
2        2026
3        2026
4        2026
         ...
49995    2026
49996    2026
49997    2026
49998    2026
49999    2026
Name: current_year, Length: 50000, dtype: int64

In [187]:
df['Vehicle_Age']=df['current_year']-df['Year']

In [188]:
df['Vehicle_Age']

0        10
1        13
2         4
3         2
4         6
         ..
49995    12
49996     3
49997    16
49998     6
49999     6
Name: Vehicle_Age, Length: 50000, dtype: int64

In [189]:
df['Fuel_Type'].value_counts()

Fuel_Type
Hybrid      12716
Petrol      12550
Electric    12471
Diesel      12263
Name: count, dtype: int64

In [190]:
df['is_hybrid']=(df['Fuel_Type']=='Hybrid').astype(int)

In [191]:
df['is_petrol']=(df['Fuel_Type']=='Petrol').astype(int)

In [192]:
df['is_diesel']=(df['Fuel_Type']=='Diesel').astype(int)

In [193]:
df['is_electric']=(df['Fuel_Type']=='Electric').astype(int)

In [194]:
pd.get_dummies(df['Fuel_Type'])

       Diesel  Electric  Hybrid  Petrol
0       False     False   False    True
1       False     False    True   False
2       False     False   False    True
3       False     False   False    True
4        True     False   False   False
...       ...       ...     ...     ...
49995   False     False    True   False
49996   False      True   False   False
49997   False     False   False    True
49998   False      True   False   False
49999    True     False   False   False

[50000 rows x 4 columns]

In [195]:
df.columns.to_list()

['Model',
 'Year',
 'Region',
 'Color',
 'Fuel_Type',
 'Transmission',
 'Engine_Size_L',
 'Mileage_KM',
 'Price_USD',
 'Sales_Volume',
 'Sales_Classification',
 'current_year',
 'Vehicle_Age',
 'is_hybrid',
 'is_petrol',
 'is_diesel',
 'is_electric']

In [196]:
df['manual_transmission']=(df['Transmission']=='Manual').astype(int)

In [197]:
df['automatic_transmission']=(df['Transmission']=='Automatic').astype(int)

In [198]:
df=df.rename(columns={'Engine_Size_L':'Engine_Size'})
df

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification,current_year,Vehicle_Age,is_hybrid,is_petrol,is_diesel,is_electric,manual_transmission,automatic_transmission
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High,2026,10,0,1,0,0,1,0
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low,2026,13,1,0,0,0,0,1
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low,2026,4,0,1,0,0,0,1
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low,2026,2,0,1,0,0,0,1
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low,2026,6,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,i3,2014,Asia,Red,Hybrid,Manual,4.6,151030,42932,8182,High,2026,12,1,0,0,0,1,0
49996,i3,2023,Middle East,Silver,Electric,Manual,4.2,147396,48714,9816,High,2026,3,0,0,0,1,1,0
49997,5 Series,2010,Middle East,Red,Petrol,Automatic,4.5,174939,46126,8280,High,2026,16,0,1,0,0,0,1
49998,i3,2020,Asia,White,Electric,Automatic,3.8,3379,58566,9486,High,2026,6,0,0,0,1,0,1
49999,X1,2020,North America,Blue,Diesel,Manual,3.3,171003,77492,1764,Low,2026,6,0,0,1,0,1,0

In [199]:
df.columns.tolist()

['Model',
 'Year',
 'Region',
 'Color',
 'Fuel_Type',
 'Transmission',
 'Engine_Size',
 'Mileage_KM',
 'Price_USD',
 'Sales_Volume',
 'Sales_Classification',
 'current_year',
 'Vehicle_Age',
 'is_hybrid',
 'is_petrol',
 'is_diesel',
 'is_electric',
 'manual_transmission',
 'automatic_transmission']

In [201]:
#make different columns for engine size
df['small_engine']=(df['Engine_Size']<=2).astype(int)

In [202]:
df['medium_engine']=df['Engine_Size'].between(2,3).astype(int)

In [203]:
df['Large_Engine']=(df['Engine_Size']>3).astype(int)

In [205]:
df['Mileage_KM'].describe()

count     50000.000000
mean     100307.203140
std       57941.509344
min           3.000000
25%       50178.000000
50%      100388.500000
75%      150630.250000
max      199996.000000
Name: Mileage_KM, dtype: float64

In [210]:
def mileage_bucket(mileage):
    if mileage <= 60000:
        return 'Low Mileage'
    elif mileage <= 130000:
        return 'Medium Mileage'
    else:
        return 'High Mileage'

df['Mileage_Category'] = df['Mileage_KM'].apply(mileage_bucket)

In [211]:
df['Mileage_Category']

0          High Mileage
1        Medium Mileage
2           Low Mileage
3           Low Mileage
4        Medium Mileage
              ...
49995      High Mileage
49996      High Mileage
49997      High Mileage
49998       Low Mileage
49999      High Mileage
Name: Mileage_Category, Length: 50000, dtype: object